.u-section-1 .u-sheet-1 {
  min-height: 886px;
}

.u-section-1 .u-group-1 {
  min-height: 836px;
  margin-top: 25px;
  margin-bottom: 25px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 284px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 273px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 168px;
  }
}